.table-container {
  max-height: 400px;   /* Adjust height as needed */
  overflow-y: auto;     /* Vertical scroll */
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 6px 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #2c5f8d;
  color: white;
}

tr:nth-child(even) {
  background-color: #002145;
}

